.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #0069d9;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 50px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 10%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color:aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  input[type="text"],
input[type="textbox"] {
  width: 10%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.login-page {
    background-image:url('/Users/yaswanth/Desktop/MINI PROJECT/DAY 1/istockphoto-1308634001-612x612.jpeg');
    background-size: cover;
    background-position: center;
  }
  
